@charset "UTF-8";

.realty.banner {
	display: block !important;
	position: relative;
	width: 100% !important;
	margin: 25px 0 10px !important;
	background: inherit;
	color: #ffffff;
}

.realty.banner > a {
	display: inherit;
	position: inherit;
	background: inherit;
	color: inherit;
	text-decoration: none;
}

.realty.banner > a > div {
	position: relative;
	padding: 10px 20px;
	box-sizing: border-box;
}

.realty.banner > a > div.gray {
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.realty.banner > a > div.green {
	background: #00aa00;
}

.realty.banner > a > div.gray {
	background: #bbbbbb;
}

.realty.banner > a > div.orange {
	background: #ffaa00 url('img/houses.png') no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.realty.banner > a > div.orange {
		background-image: url('img/houses2x.png');
	}
}

.realty.banner > a > div.green > span,
.realty.banner > a > div.orange > p {
	display: block;
}

.realty.banner > a > div.green > span {
	text-transform: uppercase;
}

.realty.banner > a > div.gray > div.gray-flex {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.realty.banner div.banner-button {
	background: #00aa00;
	margin: 0 auto;
	color: #ffffff;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.realty.banner:hover div.banner-button {
	background: #ffaa00;
}

/* big */
.realty.banner.big {
	font-size: 0;
}

.realty.banner.big,
.realty.banner.big > a > div {
	height: 280px;
}

.realty.banner.big > a > div.gray,
.realty.banner.big > a > div.orange {
	display: inline-block;
	vertical-align: top;
}

.realty.banner.big > a > div.green {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 55px;
	border-right: solid 5px #ffffff;
}

.realty.banner.big > a > div.green > span {
	position: absolute;
	bottom: 135px;
	left: -76px;
	z-index: 10;
	width: 200px;
	font: normal 20px/28px 'RobotoRegular', Arial, Tahoma, Verdana, sans-serif;
	transform: rotate(270deg);
}

.realty.banner.big > a > div.orange {
	width: 45%;
	margin-left: 5%;
	padding: 15px 40px 0 40px;
	border-right: solid 5px #ffffff;
	background-position: bottom 22px left 50%;
}

.realty.banner.big > a > div.orange > p {
	margin: 0;
	padding: 0;
	font: normal 26px/32px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
}

.realty.banner.big > a > div > div > ul {
	margin: 10px 0 0;
	font: normal 18px/22px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
}

.realty.banner.big > a > div > div > ul > li {
	margin-bottom: 20px;
}

.realty.banner.big > a > div.gray {
	width: 50%;
}

.realty.banner > a > div > div > ul {
	padding: 0 38px 15px;
}

.realty.banner.big > a > div.gray > div > div.banner-button {
	font: normal 18px/51px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
	border: 20px solid #ffffff;
}

/* medium */
.realty.banner.medium > a > div.green > span {
	font: normal 20px/20px 'RobotoRegular', Arial, Tahoma, Verdana, sans-serif;
	text-align: center;
}

.realty.banner.medium > a > div.orange {
	padding: 20px 0 100px 20px;
	background-size: 40% auto;
	background-position: bottom 15px right 20px;
}

.realty.banner.medium > a > div.orange > p {
	margin: 0;
	padding-right: 40%;
	font: normal 22px/28px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
}

.realty.banner.medium > a > div > div > ul {
	margin: 0;
	padding: 10px 36px 15px;
	font: normal 18px/22px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
}

.realty.banner.medium > a > div > div > ul > li {
	margin-bottom: 10px;
}

.realty.banner.medium > a > div.gray > div > div.banner-button {
	font: normal 18px/51px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
	border: 15px solid #ffffff;
}
/* small */
.realty.banner.small > a > div.green > span {
	font: normal 20px/20px 'RobotoRegular', Arial, Tahoma, Verdana, sans-serif;
	text-align: center;
}

.realty.banner.small > a > div.orange {
	padding: 20px 0 100px 20px;
	background-size: 55% auto;
	background-position: bottom 15px right 20px;
}

.realty.banner.small > a > div.orange > p {
	margin: 0;
	padding-right: 35%;
	font: normal 18px/24px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
}

.realty.banner.small > a > div > div > ul {
	padding: 10px 36px 15px;
	font: normal 18px/22px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
}

.realty.banner.small > a > div > div > ul > li {
	margin-bottom: 10px;
}

.realty.banner.small > a > div.gray > div > div.banner-button {
	font: normal 18px/51px 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
	border: 15px solid #ffffff;
}
